nav {
  background-color: lightblue;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 24px;
  margin-right: 8px;
}

.brand a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.align-right a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.profile-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.bio-p {
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	background-color: #eec14c;
	border-radius: 20px;
	padding: 20px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
	text-align: center;
	box-shadow: 0px 9px 15px 0px #0000001A;
}