*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

header {
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    background-color: #101010;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    padding-left: 20px; 
}

span {
    color: #f9004d;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    display: block;
    color: #f9004d;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: white;
    background: #f9004d;
}